.loader {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 200px;
  font-size: 40px;
  color: #9356DC;
  animation: loading 1500ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.contenu {
  animation: apparition 1800ms;
  animation-fill-mode: forwards;
}

.page {
  margin: 0;
}
.page.acceuil h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.page.acceuil h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 28px;
  margin-left: 20px;
}
.page.restaurant h1 {
  font-family: "Shrikhand", cursive;
}
.page.restaurant h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-left: 20px;
}
.page h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.page input {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.page p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.logo {
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
.logo img[alt=logo] {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
}
.logo a {
  align-content: center;
}
.logo a .fas {
  font-size: 36px;
  position: absolute;
  float: left;
  margin-top: 15px;
  margin-left: 25px;
  color: black;
}

.search-city {
  background-color: #EAEAEA;
  height: 50px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.search-city input[type=image] {
  width: 15px;
}
.search-city h2 {
  display: none;
}
.search-city input[type=button] {
  background-color: #EAEAEA;
  width: 185px;
  border: none;
  font-weight: bold;
  font-size: 18px;
}
.search-city .fas {
  font-size: 20px;
  margin-top: 15px;
}

.intro {
  background-color: #F6F6F6;
  height: 320px;
}
.intro h1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  width: 65%;
  padding-top: 40px;
}
.intro p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  font-size: 20px;
  margin-bottom: 30px;
}

.boutton1 {
  display: flex;
  outline-style: none;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-size: 17px;
  width: 65%;
  height: 60px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: white;
  border: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
.boutton1:hover {
  transition-property: opacity;
  transition-duration: 500ms;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
  opacity: 0.8;
}

.aide {
  margin-bottom: 75px;
}
.aide article {
  display: flex;
  margin-bottom: 25px;
}
.aide img {
  height: 20px;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
  margin-left: 40px;
  margin-top: auto;
  margin-bottom: auto;
}
.aide img[alt=store] {
  opacity: 1;
}
.aide .num {
  background-color: #9356DC;
  width: 25px;
  height: 20px;
  padding-top: 5px;
  border-radius: 15px;
  text-align: center;
  color: white;
  margin-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  right: -15px;
}
.aide .notice {
  width: 90%;
  height: 80px;
  border-radius: 20px;
  background-color: #F6F6F6;
  display: flex;
  margin-right: 20px;
  margin-left: auto;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
.aide .notice:hover {
  background-color: #9356DC2a;
  transition: 200ms;
}
.aide .notice h3 {
  margin-top: auto;
  margin-left: 25px;
  margin-bottom: auto;
  width: 100%;
  font-size: 16px;
}
.aide .notice .fas {
  vertical-align: middle;
  margin-left: 35px;
  margin-top: 33px;
  opacity: 0.5;
  font-size: 20px;
}

#restaurants {
  background-color: #F6F6F6;
  padding-top: 40px;
}

#alafrancaise {
  background-image: url("../../images/restaurants/franc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#palette {
  background-image: url("../../images/restaurants/palette.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#enchante {
  background-image: url("../../images/restaurants/note.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#delice {
  background-image: url("../../images/restaurants/delice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.resto {
  display: flex;
  margin-bottom: 15px;
  z-index: 0;
  flex-direction: column;
  height: 250px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  color: black;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-decoration: none;
  position: relative;
}
.resto:visited {
  color: black;
}
.resto .__nom {
  height: 80px;
  margin-top: 180px;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 1.7fr 0.3fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 0px;
  grid-template-areas: "titre image" "titre2 image";
}
.resto .__nom p, .resto .__nom h3 {
  margin: 0;
  margin-left: 15px;
  height: min-content;
}
.resto .__nom p {
  grid-area: titre2;
  align-self: start;
}
.resto .__nom h3 {
  grid-area: titre;
  align-self: end;
}
.resto .new {
  position: absolute;
  float: right;
  padding: 5px 10px;
  width: min-content;
  height: min-content;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  border-radius: 4px;
  right: 20px;
  top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.acceuil #restaurants .rest {
  position: relative;
}
.acceuil #restaurants .rest .fas {
  padding: 15px;
  position: absolute;
  z-index: 0;
  right: 25px;
  top: 185px;
  font-size: 26px;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
.acceuil #restaurants .rest .fas:hover {
  -webkit-text-stroke-width: 0px;
  background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 28px;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-top: 30px;
  background-color: #353535;
  padding-left: 25px;
}
footer a {
  text-decoration: none;
  color: white;
  margin-bottom: 7px;
}
footer a .fas {
  font-size: 12px;
  margin-right: 5px;
}
footer .logo_temp {
  width: 100px;
  padding: 23px 0;
}

.restaurant .menu .fas {
  padding: 15px;
  position: absolute;
  z-index: 4;
  right: 10px;
  top: 25px;
  font-size: 26px;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
.restaurant .menu .fas:hover {
  -webkit-text-stroke-width: 0px;
  background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 28px;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

#img-franc, #img-palette, #img-note, #img-delice {
  width: 100%;
  z-index: 0;
}

.menu {
  border-radius: 50px;
  background-color: white;
  z-index: 1;
  position: relative;
  top: -50px;
  padding-top: 15px;
}
.menu h1 {
  font-size: 26px;
  padding-left: 15px;
}
.menu .titre-menu {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}
.menu h2 {
  font-size: 18px;
  margin-bottom: 30px;
}
.menu article {
  margin-bottom: 40px;
}

.repas {
  width: 95%;
  position: relative;
  height: 70px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-bottom: 20px;
  overflow: hidden;
}
.repas:hover .prix {
  animation: prix 500ms forwards;
}
.repas:hover .check {
  animation: check 500ms forwards;
}
.repas:hover .check img {
  animation: rotationC 700ms;
}
.repas:hover p, .repas:hover h3 {
  animation: texte-menu 500ms forwards;
}
.repas .prix {
  position: absolute;
  right: 0;
  width: 40px;
  top: 35px;
  font-weight: 500;
}
.repas .check {
  position: absolute;
  right: -70px;
  top: 0;
  width: 25px;
  background-color: #99E2D0;
  padding: 22.5px 20px;
}
.repas p, .repas h3 {
  margin: 0;
  width: 80%;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.repas h3 {
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 5px;
}

.souligne {
  border-bottom: 3px #99E2D0 solid;
  padding-bottom: 3px;
}

.appar1 {
  animation: fadein 500ms;
  animation-timing-function: ease-in-out;
}

.appar2 {
  animation: fadein 1000ms;
  animation-timing-function: ease-in-out;
}

.appar3 {
  animation: fadein 1500ms;
  animation-timing-function: ease-in-out;
}

.appar4 {
  animation: fadein 2000ms;
  animation-timing-function: ease-in-out;
}

.appar5 {
  animation: fadein 2500ms;
  animation-timing-function: ease-in-out;
}

.appar6 {
  animation: fadein 3000ms;
  animation-timing-function: ease-in-out;
}

.appar7 {
  animation: fadein 3500ms;
  animation-timing-function: ease-in-out;
}

.appar8 {
  animation: fadein 4000ms;
  animation-timing-function: ease-in-out;
}

.appar9 {
  animation: fadein 4500ms;
  animation-timing-function: ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 50px;
  }
  to {
    opacity: 1;
    margin-top: initial;
  }
}
@keyframes apparition {
  from {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  99% {
    opacity: 1;
  }
  to {
    transform: rotate(720deg);
    opacity: 0;
  }
}
@keyframes prix {
  from {
    right: 0;
  }
  to {
    right: 70px;
  }
}
@keyframes check {
  from {
    right: -70px;
  }
  to {
    right: 0px;
  }
}
@keyframes rotationC {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes texte-menu {
  from {
    width: 80%;
  }
  to {
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) {
  .boutton1 {
    width: 350px;
  }

  h2 {
    text-align: center;
  }

  #articles {
    display: flex;
    justify-content: space-around;
  }
  #articles article {
    width: 350px;
  }

  #liste_resto {
    display: flex;
    margin-left: -60px;
    justify-content: space-around;
    padding-left: 5%;
  }
  #liste_resto .rest {
    min-width: 350px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    padding-top: 54px;
  }
  footer .logo_temp {
    position: relative;
    top: -20px;
    z-index: 2;
    padding: 0;
  }

  .enplde {
    display: flex;
    justify-content: space-around;
  }

  .restaurant footer {
    position: relative;
  }
  .restaurant .boutton1 {
    margin-top: 100px;
  }
  .restaurant .h2 {
    margin-bottom: 100px;
  }

  .repas {
    margin-bottom: 50px;
    width: 300px;
  }

  #img-franc, #img-palette, #img-note, #img-delice {
    object-fit: cover;
    height: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
